@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right btn" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <!--
                <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            -->
            &nbsp;&nbsp;
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default "style="font-size: 1.5rem !important;">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li>
            <a href="@Url.Action("Register", "Account")" class="btn btn-info" style="font-size: 1.5rem !important;">
                <i class="fas fa-user-plus"></i> Register
            </a>
        </li>
        &nbsp; &nbsp;
        <li>
            <a href="@Url.Action("Login", "Account")" class="btn btn-success" style="font-size: 1.5rem !important;">
                <i class="fas fa-user"></i> Login
            </a>
        </li>
    </ul>
}
